 body {
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: auto;
    
 }
 header {
display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

 }
 main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 2.0;

 }